[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/Maldus512/lvgl_esp32_drivers.git
[submodule "components/liblightmodbus-esp"]
	path = components/liblightmodbus-esp
	url = https://github.com/Jacajack/liblightmodbus-esp.git
